*{
    margin: 0;
    padding: 0;
}
body{
    background: #3a3d47;
    font-family: Verdana;
}
.container{
    width: 1200px;
    background: white;
    margin: 10px auto;
    position: flex;
}.superior{
    background: #1551a1;
    overflow: hidden;
    position: flex;
}
.logo{
    float: left;
    width: 300px;
    padding: 35px;
    position: flex;
}
/* estilos para el menu*/
.menu{
    float: left;
    padding: 20px;
    position: flex;
}
.opciones{
    float: left;
    height: 20px;
    padding: 25px;
    border: 1px solid white;
    position: absolute;
    border-radius: 5px;
}
.opciones li{
    float: left;
    list-style: none; 
    border: 1px solid none;
}
.opciones li a{
    margin: 3px;
    font-size: 15px;
    color: white;
    padding: 25px;
    text-decoration: none;
    transition: all .4s;
}
.opciones li a:hover{
    background: #0d356a;
    transition: all .3s;
    border-radius: 5px; 
    height: 10px;
}
/*estilos para el cuerpo*/
.cuerpo{
    overflow: hidden;
    position: flex;
}
.titulo{
    padding: 20px 0 15px 0;
    color: #ff7600;
    text-align: center;
    font-size: 35px;
}
.caja{
    float: left;
    width: 380px;
    margin: 5px;
    position: flex;
    border: 1px solid;
    border-radius: 10px ;
}
.subtitulo {
    background: #1551a1;

}
.servicios{
    background: #1551a1;
    color: white;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
}
.efecto{
    border-radius: 10px;
    transition: all .3s;
}
.efecto:hover{
    transition: all .5s;
    opacity: 0.7;
    cursor: pointer;
}
.contenido{
    padding: 20px;
    text-align: justify;
}
.button{
    padding: 15px 20px;
    margin: 20px 0;
    color: white;
    background: #144a91;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    transition: all .2s;
    border:none;
}
.button:hover{
    transition: all .3s;
    background: #306cbb;
}
/*estilos del footer*/
.pie{
    background: #062348;
    overflow: hidden;
}
.isquierda{
    float: left;
    width: 550px;
    padding: 20px;
}
.derecha{
    float: left;
    width: 550px;
    padding: 20px;
}
.abajo{
    text-align: left;
    color: white;
    font-size: 12px;
    padding: 10px;
}
.sigenos{
    text-align: center;
    color: white;
    padding: 15px 0;
}